body {
    direction: rtl;
    font-family: vazir;
}

.top {
    border-bottom: solid 1px rgb(212, 212, 212);
    margin: 1.5rem 3rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    z-index: 10;
}

.navbar a {
    color: rgb(128, 128, 128);
}

.navbar-brand {
    margin-left: -5%;
}

.features {
    direction: ltr;
}

.left-feature {
    border-radius: 10px;
}

.left-feature img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.left-feature p {
    position: absolute;
    color: white;
    padding-left: 15%;
    padding-top: 10%;
}

.left-feature .p2 {
    position: absolute;
    color: white;
    padding-left: 15%;
    padding-top: 20%;
}

.right-feature {
    border-radius: 10px;
    background-color: #5bd9d6;
}

.right-feature img {
    border-radius: 10px;
    height: 70%;
    width: 50%;
}

.right-feature p {
    position: absolute;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 60%;
    padding-top: 5%;
}

.right-feature button {
    background-color: white;
    border-radius: 7px;
    color: rgb(51, 206, 154);
    margin-left: 39%;
    width: 27.5%;
}

.search {
    display: flex;
    flex-direction: row;
    margin-left: 52%;
    padding-top: 10%;
    position: absolute;
}

.search input {
    border-radius: 7px;
}

.book-search {
    background-color: white;
    border-radius: 7px;
    text-align: center;
    margin-left: 1rem;
    width: 5rem;
}

.name-search {
    background-color: white;
    border-radius: 7px;
    text-align: center;
    width: 7rem;
}

.shelve-title {
    text-align: right;
}

.book-shelves {
    margin-top: 5%;
}

.book-div {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    height: 15rem;
}

.book-div img {
    height: 100%;
    margin-left: 70%;
    margin-right: -10%;
    width: 100%;
}

.book-details {
    text-align: right;
    margin-left: 20%;
}

.like {
    position: relative;
    color: #FEA59D;
}

button {
    /* position: relative; */
    text-align: center;
    margin: auto;
    background-color: #FCEAE8;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 15px;
    color: #FF9389;
    font-family: Vazir;
}

.footer-row {
    margin-top: 10%;
}

.footer_item-1 {
    text-align: right;
}