form {
    margin: 0 auto;
    width: 300px
}

input {
    margin-bottom: 3px;
    padding: 10px;
    width: 100%;
    border: 1px solid #CCC
}

button {
    padding: 10px;
    display: block;
    position: absolute;
}

label {
    cursor: pointer
}

#form-switch {
    display: none
}

#register-form {
    display: none
}

#form-switch:checked~#register-form {
    display: block
}

#form-switch:checked~#login-form {
    display: none
}

.login-input {
    margin: .5rem;
}

.login-button {
    position: static;
}

.button-div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem .6rem 0 .6rem;
}